.loading-icon {
    display: none;
}

.loading-icon img {
    width: 16px;
    height: 16px;
}

.notification {
    margin-top: 10px;
}

header {
    padding-left: 20px;
    padding-right: 20px;
}
body {
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

.occ-result-container {
    min-height: calc(100vh - 25px);
}

footer {
    color: #FFF;
    //background-color: #363636;
    //background-color: transparent;
    text-align: center;
    padding: 0;
    margin-top: auto;
    position:sticky;
    bottom:0;
    padding-left: 1px;
    padding-right: 1px;
}

footer a {
    color: #fe0000;
}

footer a:hover {
    color: #FFF;
}

/* Scheduler styles go here */

#header {
  width: 25%;
  float: left;
  margin-bottom: 0;
}

#menu {
  vertical-align: bottom;
  list-style-type: none;
  float: left;
  margin: 0;
  padding: 0;
}

#menu li {
  float: left;
  margin: 0 10px 0 0;
}

.clear_both {
  clear: both;
}

/* osc styles */

pre {
white-space: pre-wrap;
}

#cat_list {
padding-top: 1.5rem;
padding-bottom: 1.5rem;
}

#label_check_all {
margin-bottom: 1.5rem;
}

#category-list {
padding: 1.5rem;
margin: 1.5rem;
}

.title {
font-size: 2.5rem;
font-family: "Overpass", sans-serif;
top: 10px;
position: relative;
}

.alert strong {
text-transform: capitalize;
}

.navbar-pf .navbar-brand img {
display: inline;
}

.navbar {
width: 100%;
}

.navbar-header {
float: left;
height: 58px;
}

/* navbar-nav */
.occ-navbar-nav a {
/*font-family: helvetica, arial, sans-serif;
font-feature-settings: normal;
font-kerning: auto;
font-optical-sizing: auto;*/

/*font-size-adjust: none;
font-stretch: 100%;
font-style: normal;
font-variant-alternates: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-emoji: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-variant-position: normal;
font-variation-settings: normal;*/
font-family: Overpass, sans-serif;
font-size: larger;
font-weight: 100;
color: rgb(255, 255, 255);
}

.nav,
.occ-nav .nav a {
    padding-top: 3px;
}

.occ-nav li:focus, li:hover {
    color: #0088ce;
    text-decoration: none;
    border-bottom-style: solid;
}

.badge-danger {
color: #fff;
background-color: #cc0000;
}

.badge-info {
color: #fff;
background-color: #2b18f9;
}

.badge-skipped {
color: #fff;
background-color: #808080;
}

.badge-success {
color: #fff;
background-color: #3f9c35;
}

.badge {
display: inline-block;
padding: 0.1875rem 0.4375rem;
font-size: 0.75rem;
font-weight: 700;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
margin-left: 0px;
}

input[type="search"]::-webkit-search-cancel-button {
-webkit-appearance: searchfield-cancel-button;
}

.toolbar-pf-results {
border-top: 0px solid #d1d1d1;
margin-top: 10px;
}

.row-cards-pf {
margin-left: 0;
margin-right: 0;
}

.toolbar-pf {
background: #fff;
border-bottom: 0px solid #d1d1d1;
box-shadow: 0 1px 0 rgba(3, 3, 3, 0.045);
padding-top: 10px;
}

.category-badge {
margin-right: 10px;
}